@charset "BIG5";
.rm_button {
   padding: 10px 20px;
   border: 1px solid #C7C7C7;
   background: -webkit-gradient(linear, left top, left bottom, from(#F2E6E6), to(#FF0000));
   background: -webkit-linear-gradient(top, #F2E6E6, #FF0000);
   background: -moz-linear-gradient(top, #F2E6E6, #FF0000);
   background: -ms-linear-gradient(top, #F2E6E6, #FF0000);
   background: -o-linear-gradient(top, #F2E6E6, #FF0000);
   background-color: #FF0000;
   box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #9C0000;
   -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #9C0000;
   -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #9C0000;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   text-shadow: #FF7A7A 1px 1px 0px;
   color: #8F0000;
   font-size: 14px;
   
   text-decoration: none;
   font-weight: bold;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   cursor: pointer;
   }
.rm_button:hover {
   background: none;
   background-color: #FF0000;
   box-shadow: 0px 0px 5px 0px #AAAAAA;
   -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
   -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
   border: 1px solid #ffffff;
   color: #470000;
   }
.rm_button:active {
   top: 1px;
   position: relative;
   }